<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- File Target -->
    <target name="logfile" 
            xsi:type="File" 
            fileName="C:/Temp/mylog.txt"
            layout="${longdate} ${level:uppercase=true} ${message}" />
    
    <!-- Console Target -->
    <target name="console" 
            xsi:type="Console"
            layout="${time} [${level:uppercase=true}] ${message}" />
  </targets>

  <rules>
    <!-- Alle Meldungen ab Info-Level ins File -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
    
    <!-- Alle Meldungen ab Info-Level in die Console -->
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
